extends layout

block content
  h1= title
  body
      li Body : #{data.body.BODY}
      li From : #{data.body.MONUMBER}
      li To : #{data.body.DESTINATION}
      li Time : #{data.body.RECEIVETIME}
      li GUID : #{data.body.GUID}
      
