extends layout

block content
  h1= title
  body
      li Body : #{data.BODY}
      li From : #{data.MONUMBER}
      li To : #{data.DESTINATION}
      li Time : #{data.RECEIVETIME}
      li GUID : #{data.GUID}
      
